{"openapi":"3.1.0","info":{"title":"VU One Authorization Server API's","description":"Documentation Authorization Server APIs v1.0","version":"1"},"servers":[{"url":"https://demos.prod.vu-one.com/middleware","description":"Gateway server"}],"tags":[{"name":"Scim Authentication Tokens","description":"Scim authentication token management operations"},{"name":"Status","description":"Endpoints for checking application status and health"},{"name":"OAuth2 Registered Clients","description":"OAuth2 Registered Client management operations"},{"name":"Business Claim Schema","description":"Business-scoped identifier schema retrieval"},{"name":"Face Authentication","description":"Face biometric registration and login endpoints"},{"name":"Identity Providers","description":"Identity provider management operations"},{"name":"Business","description":"Business management operations"},{"name":"Scim Mappers","description":"Scim mappers management operations"},{"name":"Version","description":"API to retrieve application version information"},{"name":"Channel","description":"Channel management operations"},{"name":"System","description":"System information and health operations"},{"name":"Claim Schema Sets","description":"Business/accountType containers of schema types"},{"name":"Identities","description":"Identity management operations"},{"name":"Groups","description":"Account group management operations"},{"name":"Roles","description":"Role management operations"},{"name":"Magic Link Authentication","description":"Magic Link based login endpoint"},{"name":"Accounts","description":"Account management operations"},{"name":"Custom Workflows","description":"Convenience endpoints for common multi-step operations"},{"name":"OAuth2 Authorizations","description":"OAuth2 Authorization management operations"},{"name":"Mobile API","description":"Mobile app specific endpoints"},{"name":"Status","description":"API to check the application status"},{"name":"Permissions","description":"Permission management operations"},{"name":"Claim Values","description":"Claim value management operations"},{"name":"Version","description":"Endpoints for retrieving application version information"},{"name":"Schema Composition","description":"Schema composition operations"}],"paths":{"/api/v1/scim/tokens/{id}/deactivate":{"put":{"tags":["Scim Authentication Tokens"],"summary":"Deactivates SCIM auth token","description":"Changes the status of a SCIM token to inactive if active.","operationId":"deactivate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Token deactivated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/scim/tokens/{id}/activate":{"put":{"tags":["Scim Authentication Tokens"],"summary":"Activates SCIM auth token","description":"Changes the status of a SCIM token to active if inactive.","operationId":"activate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Token deactivated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/scim/mappers/filter/{id}":{"get":{"tags":["Scim Mappers"],"summary":"Get a filter","description":"Retrieves the filter of a SCIM Mapper based on it's id.","operationId":"getByFilterId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"400":{"description":"Invalid request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"put":{"tags":["Scim Mappers"],"summary":"Replaces a filter","description":"Replaces a filter for SCIM mapper by its own id","operationId":"updateByFilterId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScimFilterMapperRequest"}}},"required":true},"responses":{"200":{"description":"Mapper updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"409":{"description":"Filter with same business, claimSet and claimDefinition already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/scim/mappers/business/{businessId}":{"put":{"tags":["Scim Mappers"],"summary":"Replaces a SCIM Mapper","description":"Replaces all filters for SCIM mapper by business id","operationId":"replaceMapper","parameters":[{"name":"businessId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScimFilterMapperRequest"}}}},"required":true},"responses":{"200":{"description":"Mapper updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"409":{"description":"Filter with same business, claimSet and claimDefinition already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Scim Mappers"],"summary":"Delete Scim Mapper","description":"Deletes a Scim Mapper with all it's filters based on the business id.","operationId":"deleteByBusinessId","parameters":[{"name":"businessId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Delete executed"},"400":{"description":"Invalid request parameters"},"401":{"description":"Authentication required"},"403":{"description":"Access denied"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/oauth2/registered-clients/{id}":{"get":{"tags":["OAuth2 Registered Clients"],"summary":"Get registered client by ID","description":"Retrieves a specific OAuth2 registered client by its ID","operationId":"getRegisteredClient","parameters":[{"name":"id","in":"path","description":"Registered client ID","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Client found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"404":{"description":"Client not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"put":{"tags":["OAuth2 Registered Clients"],"summary":"Update registered client","description":"Updates an existing OAuth2 registered client configuration","operationId":"updateRegisteredClient","parameters":[{"name":"id","in":"path","description":"Registered client ID","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRegisteredClientRequest"}}},"required":true},"responses":{"200":{"description":"Client updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"400":{"description":"Invalid client configuration","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"404":{"description":"Client not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["OAuth2 Registered Clients"],"summary":"Delete registered client","description":"Deletes an OAuth2 registered client","operationId":"deleteRegisteredClient","parameters":[{"name":"id","in":"path","description":"Registered client ID","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Client deleted successfully"},"404":{"description":"Client not found"},"409":{"description":"Client has active authorizations"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/groups/{id}":{"get":{"tags":["Groups"],"summary":"Get group by ID","description":"Retrieves a specific account group by its unique identifier.","operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"includeDetails","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Group found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"404":{"description":"Group not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"put":{"tags":["Groups"],"summary":"Update a group","description":"Updates an existing account group with new information, roles, and optionally member accounts. This is a full update (PUT semantics). At least one role is required, but accounts are optional.","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateGroupRequest"}}},"required":true},"responses":{"200":{"description":"Group updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"404":{"description":"Group not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"409":{"description":"Group name already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Groups"],"summary":"Delete a group","description":"Permanently deletes an account group and all its memberships.","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Group deleted successfully"},"401":{"description":"Authentication required"},"403":{"description":"Access denied"},"404":{"description":"Group not found"}},"security":[{"oauth2 client credentials":[]}]}},"/oauth2/switch-context":{"post":{"tags":["o-auth-2-switch-context-controller"],"operationId":"switchContext","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwitchContextRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/mobile/api/v1/face/login":{"post":{"tags":["Mobile API"],"summary":"Validate face login (Mobile)","description":"Validates face biometrics against Factors Server for authentication. Returns OAuth2 access token on successful validation.","operationId":"validateFaceLogin","parameters":[{"name":"x-device-token","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceLoginRequest"}}},"required":true},"responses":{"200":{"description":"Face login validation completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceLoginResponse"}}}},"400":{"description":"Bad Request - Invalid input data or validation failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FaceLoginResponse"}}}},"404":{"description":"Not Found - Account not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FaceLoginResponse"}}}},"500":{"description":"Internal Server Error - Unexpected server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FaceLoginResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/mobile/api/v1/device-token":{"post":{"tags":["Mobile API"],"summary":"Create device token","description":"Validates device fingerprint and returns a signed device token. Requires device-key authentication.","operationId":"createDeviceToken","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTokenRequest"}}},"required":true},"responses":{"200":{"description":"Device token generated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTokenResponse"}}}},"400":{"description":"Bad request - missing or invalid fingerprint payload","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceTokenResponse"}}}},"502":{"description":"Fingerprint service unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceTokenResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/mobile/api/v1/businesses/{businessId}/accounts/identify":{"post":{"tags":["Mobile API"],"summary":"Identify account by claims (schema, scalars only)","description":"Identifies exactly one account for a business using claim keys/values (scalar only). Lookup strategy is taken from the identifier schema set for the business/accountType. Hot-path: keep minimal.","operationId":"identifyAccount","parameters":[{"name":"businessId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountType","in":"query","required":false,"schema":{"type":"string"}},{"name":"identityProviderType","in":"query","required":false,"schema":{"type":"string","default":"LOCAL","enum":["NONE","FEDERATED","SOCIAL","LOCAL"]}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentifyAccountRequest"}}},"required":true},"responses":{"200":{"description":"Account successfully identified","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"400":{"description":"Invalid request data","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"404":{"description":"No identifier schema set found or no account matches","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"409":{"description":"Multiple accounts found matching the provided claims","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/scim/tokens":{"get":{"tags":["Scim Authentication Tokens"],"summary":"Get all SCIM tokens","description":"Retrieves a paginated list of account groups with optional filtering.","operationId":"getAll","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"Invalid request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseScimTokenResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseScimTokenResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseScimTokenResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Scim Authentication Tokens"],"summary":"Create SCIM auth token","description":"Creates a SCIM token for the specified business and provider.","operationId":"postMethodName","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateScimTokenRequest"}}},"required":true},"responses":{"201":{"description":"Token created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}},"409":{"description":"Token with same name already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimTokenResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/scim/mappers":{"post":{"tags":["Scim Mappers"],"summary":"Create SCIM mapping for a business","description":"Creates SCIM mapping for a business and the SCIM User resource.","operationId":"createMapper","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateScimMapperRequest"}}},"required":true},"responses":{"201":{"description":"Mapper created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}},"409":{"description":"Mapper for the same business, claimSet and claimDefinition already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScimMapperResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/schema/types":{"get":{"tags":["Schema Composition"],"summary":"List schema types","description":"Retrieves a paginated list of schema types with optional filtering. Supports filtering by code and description.","operationId":"listTypes","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"objectsOnly","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"excludeBuiltin","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"Invalid request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseSchemaTypeSummary"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseSchemaTypeSummary"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseSchemaTypeSummary"}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Schema Composition"],"summary":"Create schema type","operationId":"createType","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTypeRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SchemaTypeResponse"}}}},"409":{"description":"Type code already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SchemaTypeResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/schema/types/{typeId}/fields":{"post":{"tags":["Schema Composition"],"summary":"Add field to object type","operationId":"addField","parameters":[{"name":"typeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddFieldRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SchemaFieldResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/roles":{"get":{"tags":["Roles"],"summary":"Get all roles","description":"Retrieves a paginated list of roles with optional filtering and sorting. Supports filtering by role name, description, and businessId. When businessId is provided, returns roles for that business plus global roles (without businessId). Sorting: 'name' sorts alphabetically by role name, 'business' sorts alphabetically by business name (uses JOIN with business table).","operationId":"get_1","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","required":false,"schema":{"type":"string"}},{"name":"businessId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"name"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"asc"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"Invalid request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseRoleResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseRoleResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseRoleResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Roles"],"summary":"Create a new role","description":"Creates a new role with the specified name, description, business association, and permission assignments.","operationId":"create","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoleRequest"}}},"required":true},"responses":{"201":{"description":"Role created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"409":{"description":"Role with same name already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/roles/{id}/permissions":{"post":{"tags":["Roles"],"summary":"Add permissions to a role","description":"Adds a list of permissions to a role.","operationId":"addPermissions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"Permissions added successfully"},"404":{"description":"Role not found"},"401":{"description":"Client is not authenticated or the credentials provided are incorrect"},"403":{"description":"Client authenticated, but does not have permission to access the resource, even if it has valid credentials"},"204":{"description":"No Content"}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Roles"],"summary":"Remove permissions from a role","description":"Removes a list of permissions from a role.","operationId":"deletePermissions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"Permissions removed successfully"},"404":{"description":"Role not found"},"401":{"description":"Client is not authenticated or the credentials provided are incorrect"},"403":{"description":"Client authenticated, but does not have permission to access the resource, even if it has valid credentials"},"204":{"description":"No Content"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/roles/{id}/accounts/check":{"post":{"tags":["Roles"],"summary":"Check which accounts have a role","description":"Given a list of account IDs (typically from a paginated result), returns only those that have the specified role assigned. Optimized for pagination scenarios where you need to verify role assignments for a subset of accounts without loading all role-account associations.","operationId":"checkAccountsHaveRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckRoleAccountsRequest"}}},"required":true},"responses":{"200":{"description":"Check completed successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckRoleAccountsResponse"}}}},"400":{"description":"Invalid request (empty account list, exceeds max size, etc.)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckRoleAccountsResponse"}}}},"404":{"description":"Role not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckRoleAccountsResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckRoleAccountsResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckRoleAccountsResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/oauth2/registered-clients":{"post":{"tags":["OAuth2 Registered Clients"],"summary":"Create a new OAuth2 registered client","description":"Creates a new OAuth2 client registration with the provided configuration","operationId":"createRegisteredClient","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRegisteredClientRequest"}}},"required":true},"responses":{"201":{"description":"Client created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"400":{"description":"Invalid client configuration","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"409":{"description":"Client ID already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/oauth2/registered-clients/{id}/regenerate-secret":{"post":{"tags":["OAuth2 Registered Clients"],"summary":"Regenerate client secret","description":"Generates a new client secret for the specified registered client","operationId":"regenerateClientSecret","parameters":[{"name":"id","in":"path","description":"Registered client ID","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Client secret regenerated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"404":{"description":"Client not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisteredClientResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/oauth2/registered-clients/search":{"post":{"tags":["OAuth2 Registered Clients"],"summary":"Search registered clients","description":"Searches for OAuth2 registered clients with filtering, pagination and sorting","operationId":"searchRegisteredClients","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisteredClientFilterRequest"}}},"required":true},"responses":{"200":{"description":"Search completed successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseRegisteredClientResponse"}}}},"400":{"description":"Invalid search parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseRegisteredClientResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseRegisteredClientResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseRegisteredClientResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/oauth2/authorizations/search":{"post":{"tags":["OAuth2 Authorizations"],"summary":"Search authorizations","description":"Searches for OAuth2 authorizations with filtering, pagination and sorting","operationId":"searchAuthorizations","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationFilterRequest"}}},"required":true},"responses":{"200":{"description":"Search completed successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseAuthorizationResponse"}}}},"400":{"description":"Invalid search parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseAuthorizationResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseAuthorizationResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseAuthorizationResponse"}}}}}}},"/api/v1/oauth2/authorizations/logout":{"post":{"tags":["OAuth2 Authorizations"],"summary":"Logout and revoke refresh token","description":"Revokes the refresh token so the session cannot be extended.","operationId":"logout","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequest"}}},"required":true},"responses":{"204":{"description":"Logout completed"},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/magic-link/login":{"post":{"tags":["Magic Link Authentication"],"summary":"Exchange Magic Link transaction for OAuth2 token","description":"Validates a CONSUMED Magic Link transaction in Factors Server and issues an OAuth2 access token","operationId":"loginWithMagicLink","parameters":[{"name":"x-device-token","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagicLinkLoginRequest"}}},"required":true},"responses":{"200":{"description":"Magic Link login successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"}}}},"400":{"description":"Bad Request - Invalid transaction status or input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"404":{"description":"Not Found - Magic Link transaction not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"503":{"description":"Service Unavailable - Factors service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"500":{"description":"Internal Server Error - Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}}}}},"/api/v1/identities":{"get":{"tags":["Identities"],"summary":"Get all identities","description":"Retrieves a paginated list of identities with optional filtering by name, identity type, lifecycle state, or general filter.","operationId":"get_2","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"identityType","in":"query","required":false,"schema":{"type":"string"}},{"name":"lifecycleState","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"accountType","in":"query","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"name"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"asc"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"Invalid request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseIdentityResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseIdentityResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseIdentityResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Identities"],"summary":"Create a new identity","description":"Creates a new identity with the specified name, type, and optional metadata. The name and identity type are required fields.","operationId":"create_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateIdentityRequest"}}},"required":true},"responses":{"201":{"description":"Identity created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityResponse"}}}},"409":{"description":"Identity with same name already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/groups":{"get":{"tags":["Groups"],"summary":"Get all groups","description":"Retrieves a paginated list of account groups with optional filtering. Supports filtering by group name, description, and businessId. When businessId is provided, returns groups with roles for that business plus groups with global roles (businessId=NULL).","operationId":"get_3","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"name"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"asc"}},{"name":"includeDetails","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"businessId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"Invalid request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseGroupResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseGroupResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseGroupResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Groups"],"summary":"Create a new group","description":"Creates a new account group with the specified name, description, roles, and optionally member accounts. At least one role is required, but accounts are optional.","operationId":"create_2","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroupRequest"}}},"required":true},"responses":{"201":{"description":"Group created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"409":{"description":"Group with same name already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/face/register":{"post":{"tags":["Face Authentication"],"summary":"Register face biometrics","description":"Allows authenticated users to register their face biometrics for future authentication","operationId":"registerFace","parameters":[{"name":"x-device-token","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceRegistrationRequest"}}},"required":true},"responses":{"200":{"description":"Face registration successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterResponse"}}}},"400":{"description":"Bad Request - Invalid input data or validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"404":{"description":"Not Found - Account or claim definition not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"409":{"description":"Conflict - Duplicate claim value or resource already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"503":{"description":"Service Unavailable - External dependency unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"500":{"description":"Internal Server Error - Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/face/login":{"post":{"tags":["Face Authentication"],"summary":"Validate face login","description":"Validates face biometrics against Factors Server for authentication","operationId":"validateFaceLogin_1","parameters":[{"name":"x-device-token","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceLoginRequest"}}},"required":true},"responses":{"200":{"description":"Face login validation successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceLoginResponse"}}}},"400":{"description":"Bad Request - Invalid input data or validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"404":{"description":"Not Found - Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"503":{"description":"Service Unavailable - External dependency unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"500":{"description":"Internal Server Error - Unexpected server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/custom-workflows/totp-by-account":{"get":{"tags":["Custom Workflows"],"summary":"Get TOTP status by account name","description":"Retrieves TOTP status using only the account name. Resolves account server-side before calling factors-server.","operationId":"getTotpStatusByAccount","parameters":[{"name":"X-Business-Id","in":"header","description":"Business ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Channel-Id","in":"header","description":"Channel ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountName","in":"query","description":"Account name","required":true,"schema":{"type":"string","minLength":1}},{"name":"accountType","in":"query","description":"Account type","required":false,"schema":{"type":"string","enum":["NONE","CUSTOMER","WORKFORCE","SERVICE"]}},{"name":"identityProviderType","in":"query","description":"Identity provider type","required":false,"schema":{"type":"string","default":"LOCAL","enum":["NONE","FEDERATED","SOCIAL","LOCAL"]}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"TOTP status retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpStatusByAccountResponse"}}}},"400":{"description":"Invalid request (missing accountName)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpStatusByAccountResponse"}}}},"404":{"description":"Account or TOTP not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpStatusByAccountResponse"}}}},"409":{"description":"Multiple accounts found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpStatusByAccountResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Custom Workflows"],"summary":"Enroll TOTP by account name","description":"Enrolls TOTP using only the account name. If the account doesn't exist, creates identity and account automatically. Returns the TOTP seed for authenticator app configuration.","operationId":"enrollTotpByAccount","parameters":[{"name":"X-Business-Id","in":"header","description":"Business ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Channel-Id","in":"header","description":"Channel ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpEnrollByAccountRequest"}}},"required":true},"responses":{"201":{"description":"TOTP enrolled successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpEnrollByAccountResponse"}}}},"400":{"description":"Invalid request (missing accountName)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpEnrollByAccountResponse"}}}},"404":{"description":"Business or channel not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpEnrollByAccountResponse"}}}},"409":{"description":"TOTP already exists for account or multiple accounts found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpEnrollByAccountResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Custom Workflows"],"summary":"Delete TOTP by account name","description":"Deletes TOTP using only the account name. Resolves account server-side before calling factors-server.","operationId":"deleteTotpByAccount","parameters":[{"name":"X-Business-Id","in":"header","description":"Business ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Channel-Id","in":"header","description":"Channel ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpDeleteByAccountRequest"}}},"required":true},"responses":{"200":{"description":"TOTP deleted successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpDeleteByAccountResponse"}}}},"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpDeleteByAccountResponse"}}}},"404":{"description":"Account not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpDeleteByAccountResponse"}}}},"409":{"description":"Multiple accounts found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpDeleteByAccountResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["Custom Workflows"],"summary":"Update TOTP by account name","description":"Updates TOTP status/flags using only the account name. Resolves account server-side before calling factors-server.","operationId":"updateTotpByAccount","parameters":[{"name":"X-Business-Id","in":"header","description":"Business ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Channel-Id","in":"header","description":"Channel ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpUpdateByAccountRequest"}}},"required":true},"responses":{"200":{"description":"TOTP updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpUpdateByAccountResponse"}}}},"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpUpdateByAccountResponse"}}}},"404":{"description":"Account or TOTP not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpUpdateByAccountResponse"}}}},"409":{"description":"Multiple accounts found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpUpdateByAccountResponse"}}}},"422":{"description":"TOTP update not allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpUpdateByAccountResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/custom-workflows/totp-by-account/validate":{"post":{"tags":["Custom Workflows"],"summary":"Validate TOTP by account name","description":"Validates TOTP using only the account name and otp. Resolves account server-side before calling factors-server.","operationId":"validateTotpByAccount","parameters":[{"name":"X-Business-Id","in":"header","description":"Business ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Channel-Id","in":"header","description":"Channel ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpValidateByAccountRequest"}}},"required":true},"responses":{"200":{"description":"TOTP validated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpValidateByAccountResponse"}}}},"400":{"description":"Invalid request (missing accountName/otp)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpValidateByAccountResponse"}}}},"403":{"description":"Invalid TOTP","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpValidateByAccountResponse"}}}},"404":{"description":"Account or TOTP not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpValidateByAccountResponse"}}}},"409":{"description":"Multiple accounts found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpValidateByAccountResponse"}}}},"422":{"description":"TOTP blocked, locked, or disabled","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpValidateByAccountResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/claim-values":{"post":{"tags":["Claim Values"],"summary":"Create new claim values","description":"Creates new claim values with simplified structure. Accepts claim values as a map where keys are claim names and values contain the claim data with optional metadata.","operationId":"create_3","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateClaimValueRequest"}}},"required":true},"responses":{"201":{"description":"Claim values created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimValueResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClaimValueResponse"}}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClaimValueResponse"}}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClaimValueResponse"}}}}},"409":{"description":"Claim value already exists","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClaimValueResponse"}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/claim-schema-sets":{"get":{"tags":["Claim Schema Sets"],"summary":"List claim schema sets","operationId":"list","parameters":[{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ClaimSchemaSetListRequest"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseClaimSchemaSetSummary"}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Claim Schema Sets"],"summary":"Create claim schema set","operationId":"create_4","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateClaimSchemaSetRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimSchemaSetResponse"}}}},"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimSchemaSetResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/channels":{"get":{"tags":["Channel"],"summary":"Get all channels","description":"Retrieves a paginated list of channels with optional filtering and sorting. Supports filtering by channel name, ID (using 'filter' parameter), and channel type. The filter parameter searches across channel name and ID fields. Channel types include WEB, MOBILE_APP, ATM, POS, API, ON_SITE, and AUTOMATION. Supports sorting by 'name' (default), 'createdAt', 'channelType', or 'description' in ascending or descending order.","operationId":"get_4","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"channelType","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"name"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"asc"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"Invalid request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseChannelResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseChannelResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseChannelResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Channel"],"summary":"Create a new channel","description":"Allows you to create a new channel with its corresponding details. The name is required and must be unique","operationId":"create_5","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChannelRequest"}}},"required":true},"responses":{"201":{"description":"Channel created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChannelResponse"}}}},"400":{"description":"Incorrect request. Some attribute sent is invalid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChannelResponse"}}}},"409":{"description":"A unique field is already registered in another entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChannelResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/businesses":{"get":{"tags":["Business"],"summary":"Get all businesses","description":"Retrieves a paginated list of businesses with optional filtering and sorting. Supports filtering by business name, ID (using 'filter' parameter), and business type. The filter parameter searches across business name and ID fields. Business types include TENANT, LEGAL_ENTITY, and BUSINESS_UNIT. Supports sorting by 'name' (default), 'createdAt', 'businessType', or 'description' in ascending or descending order.","operationId":"get_5","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"businessType","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"name"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"asc"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"Invalid request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseBusinessResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseBusinessResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseBusinessResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Business"],"summary":"Create a new business","description":"Allows you to create a new business with its corresponding details. The name is required and must be unique","operationId":"create_6","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBusinessRequest"}}},"required":true},"responses":{"201":{"description":"Business created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessResponse"}}}},"400":{"description":"Incorrect request. Some attribute sent is invalid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BusinessResponse"}}}},"409":{"description":"A unique field is already registered in another entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BusinessResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/businesses/{businessId}/accounts/identify":{"post":{"tags":["Accounts"],"summary":"Identify account by claims","description":"Identifies exactly one account for a business using claim-based matching. Requires a business ID, account type, and a list of claim key/value identifiers. Lookup strategy is taken from the identifier schema set for the business/accountType.","operationId":"identifyAccount_1","parameters":[{"name":"businessId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountType","in":"query","required":true,"schema":{"type":"string","enum":["NONE","CUSTOMER","WORKFORCE","SERVICE"]}},{"name":"identityProviderType","in":"query","required":false,"schema":{"type":"string","default":"LOCAL","enum":["NONE","FEDERATED","SOCIAL","LOCAL"]}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentifyAccountRequest"}}},"required":true},"responses":{"200":{"description":"Account successfully identified","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"400":{"description":"Invalid request data, unsupported account type, or invalid claim keys/values","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountNoAuditResponse"}}}},"404":{"description":"No identifier schema set found for business/account type, or no account matches the provided claims","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountNoAuditResponse"}}}},"409":{"description":"Multiple accounts found matching the provided claims - expected exactly one","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountNoAuditResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountNoAuditResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountNoAuditResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/accounts":{"get":{"tags":["Accounts"],"summary":"Get all accounts","description":"Retrieves a paginated list of accounts with optional filtering. Supports filtering by various account properties.","operationId":"get_6","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"Invalid request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseAccountResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseAccountResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageableResponseAccountResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Accounts"],"summary":"Create a new account","description":"Creates a new account with simplified claim value structure. Accepts claim values as a map where keys are claim names and values contain the claim data with optional metadata.","operationId":"create_7","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountRequest"}}},"required":true},"responses":{"201":{"description":"Account created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"409":{"description":"Account with same properties already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/accounts/bulk":{"post":{"tags":["Accounts"],"summary":"Get multiple accounts by IDs","description":"Retrieves a list of accounts for the given list of account IDs. Ignores null and duplicated IDs in the request body.","operationId":"getAccountsByIds","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"Accounts found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"400":{"description":"Invalid request data","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountResponse"}}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountResponse"}}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountResponse"}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/schema/types/{typeId}":{"get":{"tags":["Schema Composition"],"summary":"Get schema type by ID","operationId":"getType","parameters":[{"name":"typeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SchemaTypeResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Schema Composition"],"summary":"Delete schema type","operationId":"deleteType","parameters":[{"name":"typeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["Schema Composition"],"summary":"Update schema type","operationId":"updateType","parameters":[{"name":"typeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTypeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SchemaTypeResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/schema/types/{typeId}/fields/{fieldId}":{"delete":{"tags":["Schema Composition"],"summary":"Remove field","operationId":"removeField","parameters":[{"name":"typeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fieldId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["Schema Composition"],"summary":"Update field","operationId":"updateField","parameters":[{"name":"typeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fieldId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateFieldRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SchemaFieldResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/roles/{id}":{"get":{"tags":["Roles"],"summary":"Get role by ID","description":"Retrieves a specific role by its unique identifier.","operationId":"get_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"include","in":"query","required":false,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Role found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"404":{"description":"Role not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Roles"],"summary":"Delete a role","description":"Deletes a role by its ID.","operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Role deleted successfully"},"404":{"description":"Role not found"},"401":{"description":"Client is not authenticated or the credentials provided are incorrect"},"403":{"description":"Client authenticated, but does not have permission to access the resource, even if it has valid credentials"}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["Roles"],"summary":"Update a role","description":"Updates a role's name and description.","operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRoleRequest"}}},"required":true},"responses":{"204":{"description":"Role updated successfully"},"404":{"description":"Role not found"},"401":{"description":"Client is not authenticated or the credentials provided are incorrect"},"403":{"description":"Client authenticated, but does not have permission to access the resource, even if it has valid credentials"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/owners/{ownerType}/{ownerId}/claim-values/{claimKey}":{"get":{"tags":["Claim Values"],"summary":"Get claim value by owner and claim key","description":"Retrieves a specific claim value by owner and claim key","operationId":"getByOwnerAndClaimKey","parameters":[{"name":"ownerType","in":"path","required":true,"schema":{"type":"string","enum":["IDENTITY","ACCOUNT"]}},{"name":"ownerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"claimKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Claim value found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimValueResponse"}}}},"404":{"description":"Claim value not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimValueResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimValueResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimValueResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Claim Values"],"summary":"Delete claim value","description":"Deletes a specific claim value by owner and claim key. This action cannot be undone.","operationId":"deleteByOwnerAndClaimKey","parameters":[{"name":"ownerType","in":"path","required":true,"schema":{"type":"string","enum":["IDENTITY","ACCOUNT"]}},{"name":"ownerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"claimKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Claim value deleted successfully"},"404":{"description":"Claim value not found"},"401":{"description":"Authentication required"},"403":{"description":"Access denied"}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["Claim Values"],"summary":"Update claim value","description":"Updates an existing claim value's properties including value, identifier status, and primary index","operationId":"updateByOwnerAndClaimKey","parameters":[{"name":"ownerType","in":"path","required":true,"schema":{"type":"string","enum":["IDENTITY","ACCOUNT"]}},{"name":"ownerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"claimKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateClaimValueRequest"}}},"required":true},"responses":{"200":{"description":"Claim value updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimValueResponse"}}}},"400":{"description":"Invalid request data or validation errors","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimValueResponse"}}}},"404":{"description":"Claim value not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimValueResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimValueResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimValueResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/identities/{identityId}":{"get":{"tags":["Identities"],"summary":"Get an identity by identityId","description":"Retrieves an identity by its identityId","operationId":"get_8","parameters":[{"name":"identityId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityResponse"}}}},"404":{"description":"Identity not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityResponse"}}}},"401":{"description":"Client is not authenticated or the credentials provided are incorrect","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityResponse"}}}},"403":{"description":"Client authenticated, but does not have permission to access the resource, even if it has valid credentials","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["Identities"],"summary":"Partially update an identity","description":"Allows you to update one or more attributes of an identity by its identityId","operationId":"update_2","parameters":[{"name":"identityId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateIdentityRequest"}}},"required":true},"responses":{"204":{"description":"Identity updated successfully"},"404":{"description":"Identity not found"},"401":{"description":"Client is not authenticated or the credentials provided are incorrect"},"403":{"description":"Client authenticated, but does not have permission to access the resource, even if it has valid credentials"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/groups/{id}/roles":{"patch":{"tags":["Groups"],"summary":"Partially update a group's roles","description":"Adds or removes roles from an existing account group.","operationId":"updateRoles","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateGroupRolesRequest"}}},"required":true},"responses":{"200":{"description":"Group roles updated successfully"},"400":{"description":"Invalid request data or validation errors"},"401":{"description":"Authentication required"},"403":{"description":"Access denied"},"404":{"description":"Group not found"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/groups/{id}/members":{"patch":{"tags":["Groups"],"summary":"Partially update a group's members","description":"Adds or removes members from an existing account group.","operationId":"updateMembers","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateGroupMembersRequest"}}},"required":true},"responses":{"200":{"description":"Group members updated successfully"},"400":{"description":"Invalid request data or validation errors"},"401":{"description":"Authentication required"},"403":{"description":"Access denied"},"404":{"description":"Group not found"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/claim-schema-sets/{id}":{"get":{"tags":["Claim Schema Sets"],"summary":"Get claim schema set by id","operationId":"get_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimSchemaSetResponse"}}}},"404":{"description":"Not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimSchemaSetResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Claim Schema Sets"],"summary":"Delete claim schema set","operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["Claim Schema Sets"],"summary":"Update claim schema set (partial). If schemas array is provided, replaces all items.","operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateClaimSchemaSetRequest"}}},"required":true},"responses":{"200":{"description":"Updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimSchemaSetResponse"}}}},"400":{"description":"Invalid request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimSchemaSetResponse"}}}},"404":{"description":"Not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimSchemaSetResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/channels/{channelId}":{"get":{"tags":["Channel"],"summary":"Get a channel by id","description":"Retrieves a single channel by its id","operationId":"get_10","parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChannelResponse"}}}},"404":{"description":"Channel not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChannelResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Channel"],"summary":"Delete a channel","description":"Allows you to delete a channel by its id","operationId":"delete_3","parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Channel deleted successfully"},"400":{"description":"Validation error"},"404":{"description":"Channel not found"}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["Channel"],"summary":"Partially update a channel","description":"Allows you to update one or more properties of a channel by its id","operationId":"update_4","parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateChannelRequest"}}},"required":true},"responses":{"204":{"description":"Channel updated successfully"},"400":{"description":"Validation error"},"404":{"description":"Channel not found"},"409":{"description":"A unique field is already registered in another entity"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/businesses/{businessId}":{"get":{"tags":["Business"],"summary":"Get a business by id","description":"Retrieves a single business by its id","operationId":"get_11","parameters":[{"name":"businessId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessResponse"}}}},"404":{"description":"Business not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BusinessResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Business"],"summary":"Delete a business","description":"Allows you to delete a business by its id","operationId":"delete_4","parameters":[{"name":"businessId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Business deleted successfully"},"400":{"description":"Validation error"},"404":{"description":"Business not found"}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["Business"],"summary":"Partially update a business","description":"Allows you to update one or more properties of a business by its id","operationId":"update_5","parameters":[{"name":"businessId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBusinessRequest"}}},"required":true},"responses":{"204":{"description":"Business updated successfully"},"400":{"description":"Validation error"},"404":{"description":"Business not found"},"409":{"description":"A unique field is already registered in another entity"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/accounts/{accountId}":{"get":{"tags":["Accounts"],"summary":"Get account by ID","description":"Retrieves a specific account by its unique identifier.","operationId":"get_12","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Account found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"404":{"description":"Account not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["Accounts"],"summary":"Partially update an account","description":"Allows you to update one or more attributes of an account by its accountId","operationId":"update_6","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountRequest"}}},"required":true},"responses":{"204":{"description":"Account updated successfully"},"404":{"description":"Account not found"},"401":{"description":"Client is not authenticated or the credentials provided are incorrect"},"403":{"description":"Client authenticated, but does not have permission to access the resource, even if it has valid credentials"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/accounts/{accountId}/roles":{"get":{"tags":["Accounts"],"summary":"Get account roles","description":"Retrieves all roles associated with a specific account.","operationId":"getAccountRoles","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Roles found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponse"}}}},"404":{"description":"Account not found","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleResponse"}}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleResponse"}}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleResponse"}}}}}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["Accounts"],"summary":"Update an account's roles","description":"Incrementally adds or removes roles for an existing account.","operationId":"updateRoles_1","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountRolesRequest"}}},"required":true},"responses":{"204":{"description":"Account roles updated successfully"},"400":{"description":"Invalid request data or validation errors"},"401":{"description":"Authentication required"},"403":{"description":"Access denied"},"404":{"description":"Account not found"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/accounts/{accountId}/groups":{"get":{"tags":["Accounts"],"summary":"Get account groups","description":"Retrieves all groups associated with a specific account.","operationId":"getAccountGroups","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Groups found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"404":{"description":"Account not found","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupResponse"}}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupResponse"}}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupResponse"}}}}}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["Accounts"],"summary":"Update an account's groups","description":"Incrementally adds or removes groups for an existing account.","operationId":"updateGroups","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountGroupsRequest"}}},"required":true},"responses":{"204":{"description":"Account groups updated successfully"},"400":{"description":"Invalid request data or validation errors"},"401":{"description":"Authentication required"},"403":{"description":"Access denied"},"404":{"description":"Account not found"}},"security":[{"oauth2 client credentials":[]}]}},"/version":{"get":{"tags":["Version"],"summary":"Get application version information","description":"Returns the version, build number, and build date of the application","operationId":"getVersion","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Version information retrieved successfully","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/status":{"get":{"tags":["Status"],"summary":"Get application status","description":"Returns a simple status response indicating if the application is up and running","operationId":"getStatus","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Application is up and running","content":{"application/json":{}}},"503":{"description":"Application is not available","content":{"application/json":{}}}}}},"/mobile/api/v1/factors/policies/face":{"get":{"tags":["Mobile API"],"summary":"Get face policy configuration (Mobile)","description":"Retrieves face factor policy configuration for the specified business and channel","operationId":"getFacePolicy","parameters":[{"name":"businessId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"channelId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Original Host Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Face policy retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacePolicyResponse"}}}},"401":{"description":"Authentication required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FacePolicyResponse"}}}},"403":{"description":"Access denied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FacePolicyResponse"}}}},"404":{"description":"Face policy not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FacePolicyResponse"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FacePolicyResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/mobile/api/v1/factors/account/{accountId}":{"get":{"tags":["Mobile API"],"summary":"Get active factor types for an account (Mobile)","description":"Retrieves all active factor types configured for an account","operationId":"getActiveFactors","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"businessId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"channelId","in":"query","requ
[...]
