{"openapi":"3.1.0","info":{"title":"VU One Factors Server API's","description":"Documentation Factors Server APIs v1.0.0","version":"1.0.0"},"servers":[{"url":"https://demos.prod.vu-one.com/middleware","description":"Gateway server"}],"tags":[{"name":"Email Policy","description":"Operations related to Email OTP policy management"},{"name":"Face Policy","description":"Operations related to Face factor policy management"},{"name":"Magic Link Policy","description":"Operations related to Magic Link policy management"},{"name":"Status","description":"Endpoints for checking application status and health"},{"name":"Face Factor","description":"Operations related to Face factor management"},{"name":"SMS Policy","description":"Operations related to SMS OTP policy management"},{"name":"Factor Events","description":"Endpoints for retrieving factor events and images"},{"name":"Version","description":"Endpoints for retrieving application version information"},{"name":"Magic Link Factor","description":"Operations related to Magic Link factors"},{"name":"Password Policy","description":"Operations related to Password policy management"},{"name":"TOTP Factor","description":"Operations related to time-based OTP factors"},{"name":"SMS Factor","description":"Operations related to SMS OTP factors"},{"name":"Password Factor","description":"Operations related to Password factors"},{"name":"TOTP Policy","description":"Operations related to TOTP policy management"},{"name":"Factors","description":"Cross-factor operations"},{"name":"Email Factor","description":"Operations related to Email OTP factors"}],"paths":{"/api/v1/otp/time/send":{"post":{"tags":["TOTP Factor"],"summary":"Send a TOTP activation code","operationId":"sendActivationCode","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpSendRequest"}}},"required":true},"responses":{"200":{"description":"TOTP activation code sent successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpSendResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Validation error."}}}}}},"404":{"description":"TOTP factor not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":500,"message":"TOTP not found."}}}}}},"422":{"description":"TOTP factor is blocked or not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":502,"message":"TOTP is blocked."}}}}}},"500":{"description":"Send operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"InternalServerError":{"summary":"Internal server error","description":"InternalServerError","value":{"code":999,"message":"Failed to send TOTP."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/totp/time/send":{"post":{"tags":["TOTP Factor"],"summary":"Send a TOTP activation code","operationId":"sendActivationCode_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpSendRequest"}}},"required":true},"responses":{"200":{"description":"TOTP activation code sent successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpSendResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Validation error."}}}}}},"404":{"description":"TOTP factor not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":500,"message":"TOTP not found."}}}}}},"422":{"description":"TOTP factor is blocked or not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":502,"message":"TOTP is blocked."}}}}}},"500":{"description":"Send operation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"InternalServerError":{"summary":"Internal server error","description":"InternalServerError","value":{"code":999,"message":"Failed to send TOTP."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/totp/time/search":{"post":{"tags":["TOTP Factor"],"summary":"Search factors with structured filters","description":"Search for factors using structured filters in the request body.\n\n**Supported filters** (combined with AND logic):\n- **identifier**: Search by account identifier substring (case-insensitive LIKE)\n- **channelId**: Filter by channel UUID (must be valid UUID format)\n- **enabled**: Filter by enabled status (boolean: true/false)\n- **locked**: Filter by locked status (boolean: true/false). Includes locked_auto when applicable.\n\n**Validation rules**:\n- Unknown filter keys are rejected with 400\n- Null or blank filter values are treated as not provided\n- channelId must be valid UUID format\n- String filters (identifier) have max length of 64 characters\n\nFactors with status DELETED are always excluded from results.","operationId":"searchOtps","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Search request with filters and pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FactorSearchRequest"},"examples":{"SearchExample":{"summary":"Search TOTP factors by identifier and enabled status","description":"SearchExample","value":{"filters":{"identifier":"john","enabled":true,"channelId":"550e8400-e29b-41d4-a716-446655440000"},"page":1,"pageSize":10,"sortBy":"createdAt","sortDirection":"desc"}}}}},"required":true},"responses":{"200":{"description":"TOTP factors retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"The search filter parameters are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilterErrorResponse"},"examples":{"InvalidFilter":{"summary":"Invalid search filter","description":"InvalidFilter","value":{"code":400,"message":"Invalid search filter parameters","errors":[{"field":"identifier","reason":"must be between 1 and 64 characters","rejectedValue":"65 characters"}]}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/time/search":{"post":{"tags":["TOTP Factor"],"summary":"Search factors with structured filters","description":"Search for factors using structured filters in the request body.\n\n**Supported filters** (combined with AND logic):\n- **identifier**: Search by account identifier substring (case-insensitive LIKE)\n- **channelId**: Filter by channel UUID (must be valid UUID format)\n- **enabled**: Filter by enabled status (boolean: true/false)\n- **locked**: Filter by locked status (boolean: true/false). Includes locked_auto when applicable.\n\n**Validation rules**:\n- Unknown filter keys are rejected with 400\n- Null or blank filter values are treated as not provided\n- channelId must be valid UUID format\n- String filters (identifier) have max length of 64 characters\n\nFactors with status DELETED are always excluded from results.","operationId":"searchOtps_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Search request with filters and pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FactorSearchRequest"},"examples":{"SearchExample":{"summary":"Search TOTP factors by identifier and enabled status","description":"SearchExample","value":{"filters":{"identifier":"john","enabled":true,"channelId":"550e8400-e29b-41d4-a716-446655440000"},"page":1,"pageSize":10,"sortBy":"createdAt","sortDirection":"desc"}}}}},"required":true},"responses":{"200":{"description":"TOTP factors retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"The search filter parameters are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilterErrorResponse"},"examples":{"InvalidFilter":{"summary":"Invalid search filter","description":"InvalidFilter","value":{"code":400,"message":"Invalid search filter parameters","errors":[{"field":"identifier","reason":"must be between 1 and 64 characters","rejectedValue":"65 characters"}]}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/time/remove":{"post":{"tags":["TOTP Factor"],"summary":"Validate and remove all TOTP factors by account ID","operationId":"validateAndRemove","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpValidationRequest"}}},"required":true},"responses":{"204":{"description":"TOTP factors removed successfully."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Validation error."}}}}}},"403":{"description":"TOTP validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Invalid TOTP."}}}}}},"404":{"description":"TOTP factor not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":500,"message":"TOTP not found."}}}}}},"422":{"description":"TOTP factor is blocked or not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":502,"message":"TOTP is blocked."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/totp/time/remove":{"post":{"tags":["TOTP Factor"],"summary":"Validate and remove all TOTP factors by account ID","operationId":"validateAndRemove_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpValidationRequest"}}},"required":true},"responses":{"204":{"description":"TOTP factors removed successfully."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Validation error."}}}}}},"403":{"description":"TOTP validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Invalid TOTP."}}}}}},"404":{"description":"TOTP factor not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":500,"message":"TOTP not found."}}}}}},"422":{"description":"TOTP factor is blocked or not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":502,"message":"TOTP is blocked."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/totp/time/login":{"post":{"tags":["TOTP Factor"],"summary":"Validate a TOTP code","operationId":"validate","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpValidationRequest"}}},"required":true},"responses":{"200":{"description":"TOTP validation successful."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Validation error."}}}}}},"403":{"description":"TOTP validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Invalid TOTP."}}}}}},"404":{"description":"TOTP factor not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":500,"message":"TOTP not found."}}}}}},"422":{"description":"TOTP factor is blocked or not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":502,"message":"TOTP is blocked."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/time/login":{"post":{"tags":["TOTP Factor"],"summary":"Validate a TOTP code","operationId":"validate_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpValidationRequest"}}},"required":true},"responses":{"200":{"description":"TOTP validation successful."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Validation error."}}}}}},"403":{"description":"TOTP validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Invalid TOTP."}}}}}},"404":{"description":"TOTP factor not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":500,"message":"TOTP not found."}}}}}},"422":{"description":"TOTP factor is blocked or not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":502,"message":"TOTP is blocked."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/time/enrollments/{enrollmentId}/validate":{"post":{"tags":["TOTP Factor"],"summary":"Validate temporary TOTP enrollment and persist factor","operationId":"validateEnrollment","parameters":[{"name":"enrollmentId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpValidationRequest"}}},"required":true},"responses":{"200":{"description":"Enrollment validated and factor activated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpTokenResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"404":{"description":"Enrollment session not found.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OtpTokenResponse"}}}},"410":{"description":"Enrollment session expired.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OtpTokenResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/totp/time/enrollments/{enrollmentId}/validate":{"post":{"tags":["TOTP Factor"],"summary":"Validate temporary TOTP enrollment and persist factor","operationId":"validateEnrollment_1","parameters":[{"name":"enrollmentId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpValidationRequest"}}},"required":true},"responses":{"200":{"description":"Enrollment validated and factor activated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpTokenResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"404":{"description":"Enrollment session not found.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OtpTokenResponse"}}}},"410":{"description":"Enrollment session expired.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OtpTokenResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/totp/time/enrollments":{"post":{"tags":["TOTP Factor"],"summary":"Start temporary TOTP self-service enrollment","operationId":"startEnrollment","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpRegistrationRequest"}}},"required":true},"responses":{"201":{"description":"Enrollment session created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpEnrollmentSessionResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"403":{"description":"Forbidden.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpEnrollmentSessionResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/time/enrollments":{"post":{"tags":["TOTP Factor"],"summary":"Start temporary TOTP self-service enrollment","operationId":"startEnrollment_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpRegistrationRequest"}}},"required":true},"responses":{"201":{"description":"Enrollment session created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpEnrollmentSessionResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"403":{"description":"Forbidden.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TotpEnrollmentSessionResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/time/bulk":{"post":{"tags":["TOTP Factor"],"operationId":"bulkUpdate","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/totp/time/bulk":{"post":{"tags":["TOTP Factor"],"operationId":"bulkUpdate_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/totp/time":{"post":{"tags":["TOTP Factor"],"summary":"Create a TOTP factor","operationId":"registration","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpRegistrationRequest"}}},"required":true},"responses":{"201":{"description":"TOTP factor created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpTokenResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Validation error."}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Invalid TOTP."}}}}}},"409":{"description":"TOTP factor already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Conflict":{"summary":"Conflict","description":"Conflict","value":{"code":501,"message":"TOTP already exists."}}}}}},"422":{"description":"TOTP factor cannot be created due to policy or status constraints.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":503,"message":"TOTP is auto locked."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/time":{"post":{"tags":["TOTP Factor"],"summary":"Create a TOTP factor","operationId":"registration_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpRegistrationRequest"}}},"required":true},"responses":{"201":{"description":"TOTP factor created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpTokenResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Validation error."}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Invalid TOTP."}}}}}},"409":{"description":"TOTP factor already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Conflict":{"summary":"Conflict","description":"Conflict","value":{"code":501,"message":"TOTP already exists."}}}}}},"422":{"description":"TOTP factor cannot be created due to policy or status constraints.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":503,"message":"TOTP is auto locked."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/policies/totp":{"get":{"tags":["TOTP Policy"],"summary":"Get TOTP policies for current engagement context","operationId":"getPolicies","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"TOTP policies retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpPolicyResponse"}}}},"400":{"description":"Business or channel context is missing.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"BusinessId and ChannelId are required"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["TOTP Policy"],"summary":"Create or update TOTP policies by merging provided fields","operationId":"savePolicies","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpPolicyRequest"}}},"required":true},"responses":{"200":{"description":"TOTP policies saved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpPolicyResponse"}}}},"400":{"description":"Invalid properties payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid properties payload"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["TOTP Policy"],"summary":"Delete TOTP policies for provided business and channel","operationId":"deletePolicies","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotpPolicyRequest"}}},"required":true},"responses":{"204":{"description":"TOTP policies deleted successfully."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid request payload"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/policies/sms":{"get":{"tags":["SMS Policy"],"summary":"Get SMS policies for current engagement context","operationId":"getPolicies_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"SMS policies retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsPolicyResponse"}}}},"400":{"description":"Business or channel context is missing.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"BusinessId and ChannelId are required"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["SMS Policy"],"summary":"Create or update SMS policies by merging provided fields","operationId":"savePolicies_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsPolicyRequest"}}},"required":true},"responses":{"200":{"description":"SMS policies saved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsPolicyResponse"}}}},"400":{"description":"Invalid properties payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid properties payload"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["SMS Policy"],"summary":"Delete SMS policies for provided business and channel","operationId":"deletePolicies_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsPolicyRequest"}}},"required":true},"responses":{"204":{"description":"SMS policies deleted successfully."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid request payload"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/policies/password":{"get":{"tags":["Password Policy"],"summary":"Get password policies for current engagement context","operationId":"getPolicies_2","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Password policies retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordPolicyResponse"}}}},"400":{"description":"Business or channel context is missing.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"BusinessId and ChannelId are required"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Password Policy"],"summary":"Create or update password policies by merging provided fields","operationId":"savePolicies_2","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordPolicyRequest"}}},"required":true},"responses":{"200":{"description":"Password policies saved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordPolicyResponse"}}}},"400":{"description":"Invalid properties payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid properties payload"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Password Policy"],"summary":"Delete password policies for provided business and channel","operationId":"deletePolicies_2","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordPolicyRequest"}}},"required":true},"responses":{"204":{"description":"Password policies deleted successfully."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid request payload"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/policies/magic-link":{"get":{"tags":["Magic Link Policy"],"summary":"Get Magic Link policies for current engagement context","operationId":"getPolicies_3","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Magic Link policies retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagicLinkPolicyResponse"}}}},"400":{"description":"Business or channel context is missing.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"BusinessId and ChannelId are required"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Magic Link Policy"],"summary":"Create or update Magic Link policies by merging provided fields","operationId":"savePolicies_3","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagicLinkPolicyRequest"}}},"required":true},"responses":{"200":{"description":"Magic Link policies saved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagicLinkPolicyResponse"}}}},"400":{"description":"Invalid properties payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid properties payload"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}},"422":{"description":"Policy validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":400,"message":"Policy validation failed."}}}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Magic Link Policy"],"summary":"Delete Magic Link policies for provided business and channel","operationId":"deletePolicies_3","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagicLinkPolicyRequest"}}},"required":true},"responses":{"204":{"description":"Magic Link policies deleted successfully."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid request payload"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/policies/face":{"get":{"tags":["Face Policy"],"summary":"Get face policies for current engagement context","operationId":"getPolicies_4","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Face policies retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacePolicyResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Face Policy"],"summary":"Create or update face policies by merging provided fields","operationId":"savePolicies_4","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacePolicyRequest"}}},"required":true},"responses":{"200":{"description":"Face policies saved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacePolicyResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}},"400":{"description":"Invalid properties payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Face Policy"],"summary":"Delete face policies for provided business and channel","operationId":"deletePolicies_4","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacePolicyRequest"}}},"required":true},"responses":{"204":{"description":"Face policies deleted successfully."},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/policies/email":{"get":{"tags":["Email Policy"],"summary":"Get email policies for current engagement context","operationId":"getPolicies_5","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Email policies retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailPolicyResponse"}}}},"400":{"description":"Business or channel context is missing.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"BusinessId and ChannelId are required"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["Email Policy"],"summary":"Create or update email policies by merging provided fields","operationId":"savePolicies_5","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailPolicyRequest"}}},"required":true},"responses":{"200":{"description":"Email policies saved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailPolicyResponse"}}}},"400":{"description":"Invalid properties payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid properties payload"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["Email Policy"],"summary":"Delete email policies for provided business and channel","operationId":"deletePolicies_5","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailPolicyRequest"}}},"required":true},"responses":{"204":{"description":"Email policies deleted successfully."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid request payload"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/passwords":{"post":{"tags":["Password Factor"],"summary":"Create a password factor","operationId":"registration_2","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePasswordCoreRequest"}}},"required":true},"responses":{"201":{"description":"Password factor created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordTokenResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid request payload."}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}},"409":{"description":"Password factor already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Conflict":{"summary":"Conflict","description":"Conflict","value":{"code":151,"message":"Password already exists."}}}}}},"422":{"description":"Password policy validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":400,"message":"Password policy validation failed."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/passwords/search":{"post":{"tags":["Password Factor"],"summary":"Search factors with structured filters","description":"Search for factors using structured filters in the request body.\n\n**Supported filters** (combined with AND logic):\n- **identifier**: Search by account identifier substring (case-insensitive LIKE)\n- **channelId**: Filter by channel UUID (must be valid UUID format)\n- **enabled**: Filter by enabled status (boolean: true/false)\n- **locked**: Filter by locked status (boolean: true/false). Includes locked_auto when applicable.\n\n**Validation rules**:\n- Unknown filter keys are rejected with 400\n- Null or blank filter values are treated as not provided\n- channelId must be valid UUID format\n- String filters (identifier) have max length of 64 characters\n\nFactors with status DELETED are always excluded from results.","operationId":"searchPasswords","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Search request with filters and pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FactorSearchRequest"},"examples":{"SearchExample":{"summary":"Search passwords by identifier and enabled status","description":"SearchExample","value":{"filters":{"identifier":"john","enabled":true,"channelId":"550e8400-e29b-41d4-a716-446655440000"},"page":1,"pageSize":10,"sortBy":"createdAt","sortDirection":"desc"}}}}},"required":true},"responses":{"200":{"description":"Password factors retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"The search filter parameters are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilterErrorResponse"},"examples":{"InvalidFilter":{"summary":"Invalid search filter","description":"InvalidFilter","value":{"code":400,"message":"Invalid search filter parameters","errors":[{"field":"identifier","reason":"must be between 1 and 64 characters","rejectedValue":"65 characters"}]}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/passwords/login":{"post":{"tags":["Password Factor"],"summary":"Validate a password","operationId":"validate_2","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidatePasswordCoreRequest"}}},"required":true},"responses":{"200":{"description":"Password validation successful."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Validation error."}}}}}},"403":{"description":"Password validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":154,"message":"Password validation failed."}}}}}},"404":{"description":"Password or account not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":150,"message":"Password not found."}}}}}},"422":{"description":"Password is blocked, expired, or not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":152,"message":"Password is locked."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/passwords/change":{"post":{"tags":["Password Factor"],"summary":"Change account password","operationId":"changePassword","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordCoreRequest"}}},"required":true},"responses":{"204":{"description":"Password updated successfully."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid request payload."}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}},"404":{"description":"Password or account not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":150,"message":"Password not found."}}}}}},"422":{"description":"Password policy validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":400,"message":"Password policy validation failed."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/passwords/bulk":{"post":{"tags":["Password Factor"],"operationId":"bulkUpdate_2","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/sms":{"post":{"tags":["SMS Factor"],"summary":"Create an SMS OTP factor","operationId":"registration_3","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SMSRequest"}}},"required":true},"responses":{"201":{"description":"SMS OTP factor created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SMSResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Phone number is required when sendOtp is true."}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}},"409":{"description":"SMS OTP already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Conflict":{"summary":"Conflict","description":"Conflict","value":{"code":501,"message":"SMS OTP already exists."}}}}}},"422":{"description":"SMS OTP cannot be created due to policy or status constraints.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":503,"message":"SMS OTP is auto locked."}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"TooManyRequests":{"summary":"Too many requests","description":"TooManyRequests","value":{"code":505,"message":"Rate limit exceeded."}}}}}},"412":{"description":"Policy restriction prevents creating or sending OTP.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"PreconditionFailed":{"summary":"Precondition failed","description":"PreconditionFailed","value":{"code":508,"message":"Policy restriction prevents creating OTP."}}}}}},"502":{"description":"Failed to send OTP.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadGateway":{"summary":"Bad gateway","description":"BadGateway","value":{"code":507,"message":"Could not send OTP to the provided phone number."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/sms/send":{"post":{"tags":["SMS Factor"],"summary":"Generate and send an SMS OTP","operationId":"generateOTP","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SMSRequest"}}},"required":true},"responses":{"201":{"description":"SMS OTP generated and sent successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SMSResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Phone number is required."}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}},"404":{"description":"SMS OTP factor not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":404,"message":"SMS OTP not found."}}}}}},"409":{"description":"SMS OTP already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Conflict":{"summary":"Conflict","description":"Conflict","value":{"code":501,"message":"SMS OTP already exists."}}}}}},"410":{"description":"OTP has expired.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Gone":{"summary":"Gone","description":"Gone","value":{"code":506,"message":"OTP has expired."}}}}}},"412":{"description":"Policy restriction prevents sending OTP.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"PreconditionFailed":{"summary":"Precondition failed","description":"PreconditionFailed","value":{"code":508,"message":"Policy restriction prevents sending OTP."}}}}}},"422":{"description":"SMS OTP cannot be sent due to policy or status constraints.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":503,"message":"SMS OTP is auto locked."}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"TooManyRequests":{"summary":"Too many requests","description":"TooManyRequests","value":{"code":505,"message":"Rate limit exceeded."}}}}}},"502":{"description":"Failed to send OTP.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadGateway":{"summary":"Bad gateway","description":"BadGateway","value":{"code":507,"message":"Could not send OTP to the provided phone number."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/sms/search":{"post":{"tags":["SMS Factor"],"summary":"Search factors with structured filters","description":"Search for factors using structured filters in the request body.\n\n**Supported filters** (combined with AND logic):\n- **identifier**: Search by account identifier substring (case-insensitive LIKE)\n- **channelId**: Filter by channel UUID (must be valid UUID format)\n- **enabled**: Filter by enabled status (boolean: true/false)\n- **locked**: Filter by locked status (boolean: true/false). Includes locked_auto when applicable.\n\n**Validation rules**:\n- Unknown filter keys are rejected with 400\n- Null or blank filter values are treated as not provided\n- channelId must be valid UUID format\n- String filters (identifier) have max length of 64 characters\n\nFactors with status DELETED are always excluded from results.","operationId":"searchSMS","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Search request with filters and pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FactorSearchRequest"},"examples":{"SearchExample":{"summary":"Search SMS factors by identifier and enabled status","description":"SearchExample","value":{"filters":{"identifier":"john","enabled":true,"channelId":"550e8400-e29b-41d4-a716-446655440000"},"page":1,"pageSize":10,"sortBy":"createdAt","sortDirection":"desc"}}}}},"required":true},"responses":{"200":{"description":"SMS OTP factors retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"The search filter parameters are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilterErrorResponse"},"examples":{"InvalidFilter":{"summary":"Invalid search filter","description":"InvalidFilter","value":{"code":400,"message":"Invalid search filter parameters","errors":[{"field":"identifier","reason":"must be between 1 and 64 characters","rejectedValue":"65 characters"}]}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/sms/login":{"post":{"tags":["SMS Factor"],"summary":"Validate an SMS OTP","operationId":"validateOTP","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateSMSRequest"}}},"required":true},"responses":{"200":{"description":"SMS OTP validation successful."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Validation error."}}}}}},"403":{"description":"OTP validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Invalid OTP."}}}}}},"404":{"description":"SMS OTP factor not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":404,"message":"SMS OTP not found."}}}}}},"410":{"description":"OTP has expired.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Gone":{"summary":"Gone","description":"Gone","value":{"code":506,"message":"OTP has expired."}}}}}},"422":{"description":"SMS OTP is blocked or not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":502,"message":"SMS OTP is blocked."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/sms/bulk":{"post":{"tags":["SMS Factor"],"operationId":"bulkUpdate_3","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/magic-link":{"post":{"tags":["Magic Link Factor"],"summary":"Create a Magic Link factor","operationId":"registration_4","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagicLinkRequest"}}},"required":true},"responses":{"201":{"description":"Magic Link factor created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagicLinkListResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid request payload."}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}},"409":{"description":"Magic Link factor already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Conflict":{"summary":"Conflict","description":"Conflict","value":{"code":501,"message":"Magic Link already exists."}}}}}},"422":{"description":"Magic Link factor cannot be created due to policy or status constraints.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":503,"message":"Magic Link is auto locked."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/magic-link/{factor_id}/transactions":{"post":{"tags":["Magic Link Factor"],"summary":"Start a Magic Link transaction","operationId":"transactionStart","parameters":[{"name":"factor_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Optional payload for Magic Link send destination. If omitted, account email is used.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagicLinkTransactionRequest"},"examples":{"SendToCustomEmail":{"summary":"Send to explicit email address","description":"SendToCustomEmail","value":{"emailAddress":"user@example.com"}}}}}},"responses":{"201":{"description":"Magic Link transaction created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MagicLinkTransactionResponse"}}}},"400":{"description":"Invalid factor ID or invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid email format"}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Forbidden."}}}}}},"404":{"description":"Magic Link factor not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":500,"message":"Magic Link not found."}}}}}},"422":{"description":"Magic Link factor cannot start transaction due to status constraints.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":504,"message":"Magic Link is not enabled."}}}}}},"502":{"description":"Failed to send Magic Link.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadGateway":{"summary":"Bad gateway","description":"BadGateway","value":{"code":507,"message":"Could not send Magic Link to the provided email. Please verify the address and try again."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/magic-link/search":{"post":{"tags":["Magic Link Factor"],"summary":"Search factors with structured filters","description":"Search for factors using structured filters in the request body.\n\n**Supported filters** (combined with AND logic):\n- **identifier**: Search by account identifier substring (case-insensitive LIKE)\n- **channelId**: Filter by channel UUID (must be valid UUID format)\n- **enabled**: Filter by enabled status (boolean: true/false)\n- **locked**: Filter by locked status (boolean: true/false). Includes locked_auto when applicable.\n\n**Validation rules**:\n- Unknown filter keys are rejected with 400\n- Null or blank filter values are treated as not provided\n- channelId must be valid UUID format\n- String filters (identifier) have max length of 64 characters\n\nFactors with status DELETED are always excluded from results.","operationId":"searchMagicLinks","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Search request with filters and pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FactorSearchRequest"},"examples":{"SearchExample":{"summary":"Search magic link factors by identifier and enabled status","description":"SearchExample","value":{"filters":{"identifier":"john","enabled":true,"channelId":"550e8400-e29b-41d4-a716-446655440000"},"page":1,"pageSize":10,"sortBy":"createdAt","sortDirection":"desc"}}}}},"required":true},"responses":{"200":{"description":"Magic Link factors retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"The search filter parameters are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilterErrorResponse"},"examples":{"InvalidFilter":{"summary":"Invalid search filter","description":"InvalidFilter","value":{"code":400,"message":"Invalid search filter parameters","errors":[{"field":"identifier","reason":"must be between 1 and 64 characters","rejectedValue":"65 characters"}]}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/magic-link/bulk":{"post":{"tags":["Magic Link Factor"],"operationId":"bulkUpdate_4","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/email":{"post":{"tags":["Email Factor"],"summary":"Create an email OTP factor","operationId":"registration_5","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailRequest"}}},"required":true},"responses":{"201":{"description":"Email OTP factor created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Email address is required when sendOtp is true."}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}},"409":{"description":"Email OTP already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Conflict":{"summary":"Conflict","description":"Conflict","value":{"code":501,"message":"Email OTP already exists."}}}}}},"422":{"description":"Email OTP cannot be created due to policy or status constraints.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":503,"message":"Email OTP is auto locked."}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"TooManyRequests":{"summary":"Too many requests","description":"TooManyRequests","value":{"code":505,"message":"Rate limit exceeded."}}}}}},"412":{"description":"Policy restriction prevents creating or sending OTP.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"PreconditionFailed":{"summary":"Precondition failed","description":"PreconditionFailed","value":{"code":508,"message":"Policy restriction prevents creating OTP."}}}}}},"502":{"description":"Failed to send OTP.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadGateway":{"summary":"Bad gateway","description":"BadGateway","value":{"code":507,"message":"Could not send OTP to the provided email."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/email/send":{"post":{"tags":["Email Factor"],"summary":"Generate and send an email OTP","operationId":"generateOTP_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailRequest"}}},"required":true},"responses":{"201":{"description":"Email OTP generated and sent successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Email address is required."}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}},"404":{"description":"Email OTP factor not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":404,"message":"Email OTP not found."}}}}}},"409":{"description":"Email OTP already exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Conflict":{"summary":"Conflict","description":"Conflict","value":{"code":501,"message":"Email OTP already exists."}}}}}},"410":{"description":"OTP has expired.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Gone":{"summary":"Gone","description":"Gone","value":{"code":506,"message":"OTP has expired."}}}}}},"412":{"description":"Policy restriction prevents sending OTP.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"PreconditionFailed":{"summary":"Precondition failed","description":"PreconditionFailed","value":{"code":508,"message":"Policy restriction prevents sending OTP."}}}}}},"422":{"description":"Email OTP cannot be sent due to policy or status constraints.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":503,"message":"Email OTP is auto locked."}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"TooManyRequests":{"summary":"Too many requests","description":"TooManyRequests","value":{"code":505,"message":"Rate limit exceeded."}}}}}},"502":{"description":"Failed to send OTP.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadGateway":{"summary":"Bad gateway","description":"BadGateway","value":{"code":507,"message":"Could not send OTP to the provided email."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/email/search":{"post":{"tags":["Email Factor"],"summary":"Search factors with structured filters","description":"Search for factors using structured filters in the request body.\n\n**Supported filters** (combined with AND logic):\n- **identifier**: Search by account identifier substring (case-insensitive LIKE)\n- **channelId**: Filter by channel UUID (must be valid UUID format)\n- **enabled**: Filter by enabled status (boolean: true/false)\n- **locked**: Filter by locked status (boolean: true/false). Includes locked_auto when applicable.\n\n**Validation rules**:\n- Unknown filter keys are rejected with 400\n- Null or blank filter values are treated as not provided\n- channelId must be valid UUID format\n- String filters (identifier) have max length of 64 characters\n\nFactors with status DELETED are always excluded from results.","operationId":"searchEmails","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Search request with filters and pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FactorSearchRequest"},"examples":{"SearchExample":{"summary":"Search email factors by identifier and enabled status","description":"SearchExample","value":{"filters":{"identifier":"john","enabled":true,"channelId":"550e8400-e29b-41d4-a716-446655440000"},"page":1,"pageSize":10,"sortBy":"createdAt","sortDirection":"desc"}}}}},"required":true},"responses":{"200":{"description":"Email OTP factors retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"The search filter parameters are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilterErrorResponse"},"examples":{"InvalidFilter":{"summary":"Invalid search filter","description":"InvalidFilter","value":{"code":400,"message":"Invalid search filter parameters","errors":[{"field":"identifier","reason":"must be between 1 and 64 characters","rejectedValue":"65 characters"}]}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Unauthorized."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/email/login":{"post":{"tags":["Email Factor"],"summary":"Validate an email OTP","operationId":"validateOTP_1","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateEmailRequest"}}},"required":true},"responses":{"200":{"description":"Email OTP validation successful."},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Validation error."}}}}}},"403":{"description":"OTP validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":952,"message":"Invalid OTP."}}}}}},"404":{"description":"Email OTP factor not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"NotFound":{"summary":"Not found","description":"NotFound","value":{"code":404,"message":"Email OTP not found."}}}}}},"410":{"description":"OTP has expired.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Gone":{"summary":"Gone","description":"Gone","value":{"code":506,"message":"OTP has expired."}}}}}},"422":{"description":"Email OTP is blocked or not enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"UnprocessableEntity":{"summary":"Unprocessable Entity","description":"UnprocessableEntity","value":{"code":502,"message":"Email OTP is blocked."}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/otp/email/bulk":{"post":{"tags":["Email Factor"],"operationId":"bulkUpdate_5","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/face":{"post":{"tags":["Face Factor"],"summary":"Create a face factor","operationId":"create","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceRequest"}}},"required":true},"responses":{"201":{"description":"Face factor created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceResponse"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid request payload."}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/face/search":{"post":{"tags":["Face Factor"],"summary":"Search factors with structured filters","description":"Search for factors using structured filters in the request body.\n\n**Supported filters** (combined with AND logic):\n- **identifier**: Search by account identifier substring (case-insensitive LIKE)\n- **channelId**: Filter by channel UUID (must be valid UUID format)\n- **enabled**: Filter by enabled status (boolean: true/false)\n- **locked**: Filter by locked status (boolean: true/false). Includes locked_auto when applicable.\n\n**Validation rules**:\n- Unknown filter keys are rejected with 400\n- Null or blank filter values are treated as not provided\n- channelId must be valid UUID format\n- String filters (identifier) have max length of 64 characters\n\nFactors with status DELETED are always excluded from results.","operationId":"searchFaces","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Search request with filters and pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FactorSearchRequest"},"examples":{"SearchExample":{"summary":"Search face factors by identifier and enabled status","description":"SearchExample","value":{"filters":{"identifier":"john","enabled":true,"channelId":"550e8400-e29b-41d4-a716-446655440000"},"page":1,"pageSize":10,"sortBy":"createdAt","sortDirection":"desc"}}}}},"required":true},"responses":{"200":{"description":"Face factors retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageableResponse"}}}},"400":{"description":"The search filter parameters are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilterErrorResponse"},"examples":{"InvalidFilter":{"summary":"Invalid search filter","description":"InvalidFilter","value":{"code":400,"message":"Invalid search filter parameters","errors":[{"field":"identifier","reason":"must be between 1 and 64 characters","rejectedValue":"65 characters"}]}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/face/register":{"post":{"tags":["Face Factor"],"summary":"Register a face factor","operationId":"register","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","required":true,"schema":{"type":"string"}},{"name":"X-Channel-Id","in":"header","description":"Header for channel identification","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceRegisterBody"}}},"required":true},"responses":{"200":{"description":"Face factor registered successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseRequest"}}}},"400":{"description":"Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"BadRequest":{"summary":"Bad request","description":"BadRequest","value":{"code":400,"message":"Invalid request payload."}}}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMessage"},"examples":{"Forbidden":{"summary":"Forbidden","description":"Forbidden","value":{"code":951,"message":"Unauthorized"}}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/face/login":{"post":{"tags":["Face Factor"],"summary":"Validate face login","operationId":"login","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}},{"name":"X-Business-Id","in":"header","description":"Header for business identification","req
[...]
