{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://demos.prod.vu-one.com/middleware","description":"Gateway server"}],"tags":[{"name":"Fingerprint","description":"Endpoints for device fingerprint management"},{"name":"Status","description":"Endpoints for checking application status and health"},{"name":"Version","description":"Endpoints for retrieving application version information"},{"name":"FeaturePath Administration","description":"APIs for managing feature paths used in fingerprint extraction"}],"paths":{"/api/v1/fingerprint/admin/rulesets/{id}":{"get":{"tags":["rule-set-controller"],"operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RuleSetDTO"}}}}},"security":[{"oauth2 client credentials":[]}]},"put":{"tags":["rule-set-controller"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleSetDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RuleSetDTO"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["rule-set-controller"],"operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/fingerprint/mobile/check":{"post":{"tags":["fingerprint-controller"],"summary":"Check Mobile fingerprint","description":"Receives a mobile fingerprint payload and returns if it matches an existing device","operationId":"checkMobile","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"description":"Fingerprint data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicCollectedValues"},"examples":{"FingerprintExample":{"description":"FingerprintExample","value":{"accountId":"abc123","fingerprint":{"randomSeed":"A4379121-DB54-44FB-8761-22C6098D86A1","deviceID":"10098E8C-0ECD-439F-8E66-F04C031F065E","deviceName":"iPhone14,5","manufacturer":"Apple","resolution":"3120x1440","osVersion":"18.1.1","osName":"iOS","isFingerprintCompatible":true,"isGPSCompatible":true,"isDeviceRooted":true,"apiLevel":15}}}}}},"required":true},"responses":{"200":{"description":"Device checked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckFingerprintResponse"}}}},"201":{"description":"Device created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckFingerprintResponse"}}}},"400":{"description":"Invalid fingerprint payload","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/fingerprint/browser/check":{"post":{"tags":["fingerprint-controller"],"summary":"Check Browser fingerprint","description":"Receives a browser fingerprint payload and returns if it matches an existing device","operationId":"checkBrowser","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"description":"Fingerprint data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DynamicCollectedValues"},"examples":{"FingerprintExample":{"description":"FingerprintExample","value":{"accountId":"abc123","fingerprint":{"fingerprintInfo":{"language":"en-US"},"systemInfo":{"ua":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36","browser":{"name":"Brave","version":"138.0.0.0","major":"138"},"engine":{"name":"Blink","version":"138.0.0.0"},"os":{"name":"Windows","version":"19.0.0"},"device":{},"cpu":{"architecture":"x86"}},"serverSide":{"userData":{"ip":"127.0.0.1"}}}}}}}},"required":true},"responses":{"200":{"description":"Device checked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckFingerprintResponse"}}}},"201":{"description":"Device created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckFingerprintResponse"}}}},"400":{"description":"Invalid fingerprint payload","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/fingerprint/admin/rulesets":{"get":{"tags":["rule-set-controller"],"operationId":"list","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RuleSetDTO"}}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["rule-set-controller"],"operationId":"create","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleSetDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RuleSetDTO"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/fingerprint/admin/feature":{"get":{"tags":["FeaturePath Administration"],"summary":"Get all feature paths","description":"Retrieves all feature paths with optional filtering and pagination","operationId":"getAllFeaturePaths","parameters":[{"name":"type","in":"query","description":"Filter by fingerprint type","required":false,"schema":{"type":"string","enum":["BROWSER","MOBILE"]}},{"name":"page","in":"query","description":"Page number (0-based)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"sortBy","in":"query","description":"Sort by field","required":false,"schema":{"type":"string","default":"id"}},{"name":"sortDir","in":"query","description":"Sort direction","required":false,"schema":{"type":"string","default":"asc"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Feature paths retrieved successfully","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"oauth2 client credentials":[]}]},"post":{"tags":["FeaturePath Administration"],"summary":"Create a new feature metadata","description":"Creates a new feature for fingerprint extraction","operationId":"createFeaturePath","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeaturePathRequest"}}},"required":true},"responses":{"201":{"description":"Feature created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeaturePathResponse"}}}},"400":{"description":"Invalid request data or feature already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeaturePathResponse"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeaturePathResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/fingerprint/devices/{deviceId}":{"get":{"tags":["fingerprint-controller"],"summary":"Get a device","description":"Returns a device by ID","operationId":"get_1","parameters":[{"name":"deviceId","in":"path","description":"Device ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Device found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceResponse"}}}},"404":{"description":"Device not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["fingerprint-controller"],"summary":"Delete a device","description":"Deletes a device by ID","operationId":"delete_1","parameters":[{"name":"deviceId","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Device deleted"},"404":{"description":"Device not found"}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["fingerprint-controller"],"summary":"Update a device","description":"Change the validation status of a device by ID","operationId":"update_1","parameters":[{"name":"deviceId","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDeviceRequest"}}},"required":true},"responses":{"204":{"description":"Device updated"},"400":{"description":"Invalid request"},"404":{"description":"Device not found"}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/fingerprint/admin/feature/{id}":{"get":{"tags":["FeaturePath Administration"],"summary":"Get feature path by ID","description":"Retrieves a specific feature path by its ID","operationId":"getFeature","parameters":[{"name":"id","in":"path","description":"Feature path ID","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Feature path found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeaturePathResponse"}}}},"404":{"description":"Feature path not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeaturePathResponse"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeaturePathResponse"}}}}},"security":[{"oauth2 client credentials":[]}]},"delete":{"tags":["FeaturePath Administration"],"summary":"Delete feature path","description":"Deletes an existing feature path","operationId":"deleteFeaturePath","parameters":[{"name":"id","in":"path","description":"Feature path ID","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Feature path deleted successfully"},"404":{"description":"Feature path not found"},"500":{"description":"Internal server error"}},"security":[{"oauth2 client credentials":[]}]},"patch":{"tags":["FeaturePath Administration"],"summary":"Update feature path","description":"Updates an existing feature path (partial update supported)","operationId":"updateFeaturePath","parameters":[{"name":"id","in":"path","description":"Feature ID","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeaturePathUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Feature path updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeaturePathResponse"}}}},"400":{"description":"Invalid request data","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeaturePathResponse"}}}},"404":{"description":"Feature path not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeaturePathResponse"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FeaturePathResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/fingerprint/devices":{"get":{"tags":["fingerprint-controller"],"summary":"Get devices","description":"Returns a paginated list of devices optionally filtered by account ID and validation status","operationId":"getDevicesFiltered","parameters":[{"name":"accountId","in":"query","description":"Account ID filter","required":false,"schema":{"type":"string"}},{"name":"validated","in":"query","description":"Validation status filter","required":false,"schema":{"type":"boolean"}},{"name":"page","in":"query","description":"Page number","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Devices retrieved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceResponse"}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/fingerprint/admin/feature/stats":{"get":{"tags":["FeaturePath Administration"],"summary":"Get feature path statistics","description":"Retrieves statistics about feature paths","operationId":"getFeaturePathStats","parameters":[{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Statistics retrieved successfully","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}},"security":[{"oauth2 client credentials":[]}]}},"/api/v1/fingerprint/accounts/{accountId}/devices":{"get":{"tags":["fingerprint-controller"],"summary":"Get account devices","description":"Returns all devices for a specific account, sorted by most recent activity.\nEach device includes: UUID deviceIdentifier, FingerprintType, OS information,\nlast seen timestamp, and display name.\n","operationId":"getAccountDevices","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string"}},{"name":"X-ORIGINAL-HOST","in":"header","description":"Header for multi-tenant identification","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of account devices retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceResponse"}}}},"400":{"description":"Invalid account ID","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeviceResponse"}}}}}},"security":[{"oauth2 client credentials":[]}]}}},"components":{"schemas":{"RuleNodeDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nodeType":{"type":"string","enum":["CONDITION","AND","OR"]},"dataType":{"type":"string","enum":["STRING","INTEGER","BOOLEAN","VERSION"]},"path":{"type":"string"},"operator":{"type":"string","enum":["EQUALS","NOT_EQUALS","GREATER_THAN","GREATER_THAN_OR_EQUALS","LESS_THAN","LESS_THAN_OR_EQUALS"]},"sortOrder":{"type":"integer","format":"int32"},"children":{"type":"array","items":{}}}},"RuleSetDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["BROWSER","MOBILE"]},"weight":{"type":"number","format":"double"},"impact":{"type":"string","enum":["PENALTY","BONUS"]},"root":{"$ref":"#/components/schemas/RuleNodeDTO"}}},"CheckFingerprintResponse":{"type":"object","properties":{"deviceIdentifier":{"type":"string","format":"uuid"},"validated":{"type":"boolean"},"message":{"type":"string"}}},"DynamicCollectedValues":{"type":"object","properties":{"accountId":{"type":"string"},"fingerprint":{"$ref":"#/components/schemas/JsonNode"}},"required":["accountId"]},"JsonNode":{},"FeaturePathResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"path":{"type":"string"},"type":{"type":"string","enum":["BROWSER","MOBILE"]},"displayName":{"type":"string"},"displayable":{"type":"boolean"}}},"FeaturePathRequest":{"type":"object","properties":{"path":{"type":"string","maxLength":150,"minLength":0},"type":{"type":"string","enum":["BROWSER","MOBILE"]},"displayName":{"type":"string","maxLength":60,"minLength":0},"displayable":{"type":"boolean"}},"required":["path","type"]},"UpdateDeviceRequest":{"type":"object","properties":{"validated":{"type":"boolean"}}},"FeaturePathUpdateRequest":{"type":"object","properties":{"path":{"type":"string","maxLength":150,"minLength":0},"type":{"type":"string","enum":["BROWSER","MOBILE"]},"displayName":{"type":"string","maxLength":60,"minLength":0},"displayable":{"type":"boolean"}}},"DeviceResponse":{"type":"object","properties":{"deviceIdentifier":{"type":"string","format":"uuid"},"accountId":{"type":"string"},"name":{"type":"string"},"validated":{"type":"boolean"},"features":{"type":"array","items":{"$ref":"#/components/schemas/FeatureDto"}},"type":{"type":"string","enum":["BROWSER","MOBILE"]},"os":{"type":"string"},"lastSeen":{"type":"string","format":"date-time"},"displayName":{"type":"string"},"location":{"type":"string"},"lastAccessFrom":{"type":"string"}}},"FeatureDto":{"type":"object","properties":{"path":{"type":"string"},"value":{"type":"string"}}}},"securitySchemes":{"oauth2 client credentials":{"type":"oauth2","description":"OAuth2 Client Credentials Flow","flows":{"clientCredentials":{"tokenUrl":"https://demos.prod.vu-one.com/middleware/oauth2/token","scopes":{"role_admin":"Role to Client Administrator"}}}}}}}